*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
.container{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to right, #373b69,#22254b);
    place-content: center;
    height: 100vh;
}
.sign-up{
    display: flex;
    flex-direction: row;
    height: 75vh;
    width: 68vw;
    background-color: #fff;
    z-index: +2;
}
.image{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    width: 28vw;
    background: linear-gradient(to left, #00032bcb,#000537c3),url("Images/bg.jpg");
    background-position:center;
    background-size: cover;
    color: #fff;
    position: relative;
}
.login_form{
    display: flex;
    flex-direction: column;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 56px;
}
.inputs h4{
    padding-bottom: 16px;
    margin-left: -16px;
    font-size: 25px;
}
.inputs p{
    font-size: 16px;
    text-align: center;
    padding-top: 6px;
}
.input-1{
    padding: 4px 206px 10px 8px;
    margin: 4px;
    border: none;  
    box-shadow: 0 2px 10px #373b69;

}
.input-2{
    padding: 4px 206px 10px 8px;
    margin: 4px;
    border: none;  
    box-shadow: 0 2px 10px #373b69;
}
.input-3{
    padding: 4px 206px 10px 8px;
    margin: 4px;
    border: none;  
    box-shadow: 0 2px 10px #373b69;
}
.input-4{
    padding: 4px 206px 10px 8px;
    margin: 4px;
    border: none;  
    box-shadow: 0 2px 10px #373b69;
}
.button{
    height: 4vh;
    font-size: .89rem;
    width: 6vw;
    border: none;
    outline: none;
    padding: 4px 0px 26px 0px;
    margin-top: 7px;
    margin-left: 165px;
    margin-bottom: 6px;
    border-radius: 15px;
    color: #fff;
    background-color: #373b69;
    cursor: pointer;
}
.button:hover{
    background-color: #22254b;
    color: #fff;
}
.login{
    text-decoration: none;
    
    columns: #373b69;
}
#email_error, #name_error, #password_error, #correct_password_error{
    font-size: 16.5px;
    color: #4e55b0;
    margin-left: 98px;
    display: none;
}

@media (max-width: 992px) {
    .sign-up{
        width: auto;
    }
    .login_form{
        margin-right: 24px;
    }
    .button{
        border-radius: 9px;
        font-size: 18px;
        overflow: hidden;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 50px;
        margin-left: 148px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
  }
  @media (max-width: 768px) {
    .sign-up{
        width: max-content;
    }
    .login_form{
        margin-right: 24px;
    }
    .button{
        border-radius: 9px;
        font-size: 18px;
        overflow: hidden;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 50px;
        margin-left: 148px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
  }
  @media (max-width: 576px) {
    .container{
        overflow-x: hidden;
    }
    .sign-up{
        width: fit-content;
        background-color: inherit;
    }
    .image{
        display: none;
    }
    .inputs h4{
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* margin-top: -500px; */
        font-size: 2rem;
    }
    .login_form{
        margin-top: 18px;
        display: flex;
        flex-direction: column;
    }
    .input-1{
        padding: 4px 127px 80px 8px;
        width: fit-content;
        margin-left: 0;
    }
    .input-2{
        padding: 4px 127px 80px 8px;
        width: fit-content;
        margin-left: 0;
    }
    .input-3{
        padding: 4px 127px 80px 8px;
        width: fit-content;
        margin-left: 0;
    }
    .input-4{
        padding: 4px 127px 80px 8px;
        width: fit-content;
        margin-left: 0;
    }
    .button{
        border-radius: 9px;
        background-color: #fff;
        margin-left: 120px;
        color: #22254b;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    p{
        color: #fff;
        font-size: 24px;
    }
    .login{
        color: #fff;
    }
  }